<div class="chat">

  <div class="chat-header">
    <div class="left-header">
      <div class="chat-header-navi">
        チャットルーム
      </div>
    </div>

    <div class="right-header">
      <div class="chat-exit">
        <a href="#">チャットを終了する</a>
      </div>
    </div>
  </div>

  <div class="chat-messages">
    <div class="chat-message">
      <div class="chat-title">
        <div class="chat-name">Tom
        </div>
        <div class="chat-hour">2024/8/17(sun) 21:22:22
        </div>
      </div>
      <div class="lower-content">
        <div class="chat-content">おはよう
        </div>
      </div>
    </div>

    <div class="chat-message">
      <div class="chat-title">
        <div class="chat-name">Tom
        </div>
        <div class="chat-hour">2024/8/18(sun) 21:22:22
        </div>
      </div>
      <div class="lower-content">
        <div class="chat-content">おはよう
        </div>
      </div>
    </div>
  </div>
  <div class="contents-form">
    <div class="content-form">
      <input type="text" placeholder="Type a message" class="send-form">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" value="送信" class="send">
  </div>
</div>
